.containerMain {
	/* background-color: yellow; */
	width: 100%;
	max-width: 1920px;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	@import './subcontainerMain';
	@import './pdfContainer';
}
