header {
	background: $colorAzul;
	background: -webkit-linear-gradient(
		to right,
		#02010d,
		$colorAzul
	);
	background: linear-gradient(to right, #02010d, $colorAzul);
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	h1 {
		color: $colorBlanco;
		font-size: 50px;
		font-weight: 300;
		text-shadow: 1px 0px 10px rgb(0, 0, 0);
	}
}
