.contacto {
	width: 100%;
	background-color: #000;
	position: absolute;
	bottom: 0;
	height: 40px;
	color: #fff;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	p {
		font-size: 14px;
		margin: 0px 10px;
	}
}
